.playersDiv {
  display: flex;
  flex-wrap: wrap;
}

.playersDiv > div {
  padding: 20px;
}

.lobbyContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.copyRoomId {
  margin-bottom: 20px;
}
.copyRoomId button {
  margin-left: 20px;
}
