.rightArrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.arrow {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.avatarDiv {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
