.whiteboard {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.colors {
  position: relative;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black {
  background-color: black;
}
.color.red {
  background-color: red;
}
.color.green {
  background-color: green;
}
.color.blue {
  background-color: blue;
}
.color.orange {
  background-color: orange;
}
.color.yellow {
  background-color: yellow;
}
.color.purple {
  background-color: purple;
}
